/* ----------------------------------------
  Utilize Mobile Menu
---------------------------------------- */
.ltn__utilize {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: auto;
    display: block;
    overflow: hidden;
    width: 400px;
    height: 100vh;
    padding: 20px 10px 20px 30px;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    background-color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 99999; }
  
  .ltn__utilize.ltn__utilize-mobile-menu {
    right: auto;
    left: 0;
    padding: 50px 40px;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%); }
  
  /* .ltn__utilize-menu-inner {
    position: relative;
    z-index: 9;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -ms-touch-action: auto;
    touch-action: auto;
    overflow-x: hidden !important;
    padding-right: 20px;
   } */
   .ltn__utilize-menu-inner {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    height: calc(100% - 200px); 
    overflow-y: auto; 
  }
  
  
  .ltn__utilize-menu-search-form {
    margin-bottom: 30px;
    position: relative; }
    .ltn__utilize-menu-search-form input[type="text"] {
      margin-bottom: 0; }
    .ltn__utilize-menu-search-form button {
      background-color: transparent;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      height: 100%;
      padding: 0 15px; }
  
  @media (max-width: 479px) {
    .ltn__utilize {
      width: 300px; }
    .ltn__utilize.ltn__utilize-mobile-menu {
      padding: 50px 20px; } }
  
  .ltn__utilize-menu > ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  
  .ltn__utilize-menu > ul > li {
    position: relative; }
  
  .ltn__utilize-menu > ul > li .menu-expand {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 24px;
    height: 44px;
    cursor: pointer;
    background-color: transparent; }
  
  .ltn__utilize-menu > ul > li .menu-expand::before,
  .ltn__utilize-menu > ul > li .menu-expand::after {
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 7px);
    width: 14px;
    height: 2px;
    content: "";
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
    background-color: #7e7e7e; }
  
  .ltn__utilize-menu > ul > li .menu-expand::after {
    -webkit-transform: rotate(90deg) scale(0.75);
    -ms-transform: rotate(90deg) scale(0.75);
    transform: rotate(90deg) scale(0.75); }
  
  .ltn__utilize-menu > ul > li.active .menu-expand::after {
    -webkit-transform: inherit;
    -ms-transform: inherit;
    transform: inherit; }
  
  .ltn__utilize-menu > ul > li > a {
    display: block;
    padding: 8px 24px 8px 0;
    text-transform: uppercase; }
  
  .ltn__utilize-menu > ul > li .sub-menu {
    position: static;
    top: auto;
    display: none;
    visibility: visible;
    width: 100%;
    min-width: auto;
    padding: 0;
    padding-left: 15px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none; }
  
  .ltn__utilize-menu > ul > li .sub-menu li {
    line-height: inherit;
    position: relative;
    list-style: none; }
  
  .ltn__utilize-overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5); }
  
  .ltn__utilize.ltn__utilize-open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  
  .ltn__utilize.ltn__utilize-mobile-menu.ltn__utilize-open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  
  .mobile-menu-toggle {
    margin-right: 15px; }
  
  .mobile-menu-toggle > a {
    width: 24px;
    height: 32px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #333;
    margin-left: auto; }
  
  .mobile-menu-toggle svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 60px;
    margin-top: -2px;
    margin-left: -2px;
    cursor: pointer;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); }
  
  .mobile-menu-toggle svg path {
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    fill: none;
    stroke: #333;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: 30px; }
  
  .mobile-menu-toggle svg path#top, .mobile-menu-toggle svg path#bottom {
    stroke-dasharray: 240px 950px; }
  
  .mobile-menu-toggle svg path#middle {
    stroke-dasharray: 240px 240px; }
  
  .mobile-menu-toggle .close svg path#top, .mobile-menu-toggle .close svg path#bottom {
    stroke-dasharray: -650px;
    stroke-dashoffset: -650px; }
  
  .mobile-menu-toggle .close svg path#middle {
    stroke-dasharray: 1px 220px;
    stroke-dashoffset: -115px; }
  
  .ltn__utilize-menu-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee; }
    .ltn__utilize-menu-head .ltn__utilize-menu-title {
      font-weight: 700; }
    .ltn__utilize-menu-head .ltn__utilize-close {
      background-color: transparent;
      font-size: 30px;
      padding: 0 15px; }
  
  .ltn__utilize-buttons {
    border-top: 1px solid var(--border-color-1);
    padding: 5px 0px 20px;
    margin: 30px 0;
    border-bottom: 1px solid var(--border-color-1); }
    .ltn__utilize-buttons ul {
      padding: 0;
      margin: 0; }
      .ltn__utilize-buttons ul li {
        display: inline-block; }
    .ltn__utilize-buttons .utilize-btn-icon {
      width: 50px;
      display: inline-block;
      height: 50px;
      border: 2px solid var(--border-color-1);
      line-height: 46px;
      text-align: center;
      margin-right: 10px; }
  
  .ltn__utilize-buttons-2 ul li {
    display: block; }
  
  .menu-btn-white.mobile-menu-toggle > a {
    color: #fff; }
  
  .menu-btn-white.mobile-menu-toggle svg path {
    stroke: #fff; }
  
  .menu-btn-border a {
    width: 40px;
    height: 38px;
    border: 1px solid; }
  
  /* logo-right-menu-option */
  .ltn__logo-right-menu-option .row > * {
    width: auto; }
  
 
  
  li {
      display: list-item;
      text-align: -webkit-match-parent;
      unicode-bidi: isolate;
  }
  ul {
      padding: 0;
      list-style: none;
  }
  img.menu-images {
    /* font-size: 10px; */
    width: 95px;
    height: 83px;
    position: relative;
    top: -11px;
  }
  
  img.menu-images {
    width: 100px;
    height: 100px;
  }