@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");
:root {
  --blue: #9ab3f5;
  --purple: #9a1663;
  --white: #ffffff;
  --color-default: #8f9779;
  --color-primary: #c28585;
  --color-secondary: #dab5b4;
  --color-white:#e2d9d6;
  --color-quit:#adbbb2;
  --shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.search-bar {
  display: flex;
  align-items: center;
  min-width: 543px;
    border-radius: 50px;
  background-color: var(--white);
  z-index: 1;
  height: 48px;
}

.dropdown {
  position: relative;
  width: 250px;
  border-radius: 50px;
  background-color: var(--color-default);
  border: 1px solid var(--white);
  box-shadow: var(--shadow);
  cursor: pointer;
  height: 48px;

}
span#span {
    text-align: center;
    position: relative;
    top: -5px;
    align-items: center;
}
.dropdown-text {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  padding: 1rem 1.5rem;
  color: var(--white);
}

.dropdown-list {
  display: block;
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  border-radius: 15px;
  max-height: 0;
  overflow: hidden;
  background-color: var(--white);
  transition: max-height 0.5s;
}

.dropdown-list-item {
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 15px;
  padding: 0rem 0 0rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.3s ease, margin-left 0.2s ease;
}

.dropdown-list-item:hover {
  margin-left: 0.5rem;
  color: var(--color-default);
}

#list.show {
  max-height: 300px;
  position: relative;
    top: -14px;
}

.search-box {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  width: 100%;
  color: var(--color-default);
}

.search-box input {
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-default);
  border: 0;
  outline: 0;
  height: 48px;
}

.search-box i {
  font-size: 1.3rem;
  cursor: pointer;
}

.search-box input::placeholder {
  font-size: 1rem;
  font-weight: 500;
  color:var(--color-default);
}
.fa-chevron-down:before {
    content: "\f078";
    position: relative;
    top: 8px;
}
i#icon{
    position: relative;
    top: -5px;
}

.dropdown-list-1 {
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 15px;
    padding: 0rem 0 0rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.3s ease, margin-left 0.2s ease;
  }