:root {
    --color-default: #212529;
    --color-primary: #f5700a;
    --color-secondary: #053b21;
    --color-third: #b0d3bf;
    --color-fourth: #589d62;
    --color-five: #ece3df;
    --color-six: #f8a300;
    --color-seven: #fe5c05;
    --color-eight: #7b9f01;
    --color-nine: #63a91f;
    --color-ten: #c6dc93;
    --color-eleven: #2d4a05;
  
    --border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
    --border-radius-hover: 4% 95% 6% 95% / 95% 4% 92% 5%;
    --border: .2rem solid var(--color-secondary);
    --border-hover: .2rem dashed var(--color-primary);
  }
.col-xl-6 {
    position: relative;
    top: 13px;
    width: 1000px;
    left: 27px;
}
input.btn.btn-secondary.button-previous {
    width: 307px;
    position: relative;
    left: 357px;
    color: white;
    justify-content: center;
    background: #f5700a;
}
label.col-md-3.col-form-label {
    position: relative;
    left: 97px;
}
.col-md-9 {
    width: 330px;
}
.col-12 {
    position: relative;
    left: 119px;
}
ul.topbar-menu.d-flex.align-items-center {
    position: relative;
    left: 427px;
}
.card {
    background: transparent;
}
a.nav-link.rounded-0.pt-2.pb-2 {
    background-color: #f5700a;
    color: white;
    width: 975px;
    text-align: center;
}
.row.mb-3 {
    color: var(--color-secondary);
}
input#userName2 {
    color: var(--color-secondary);
}
input#password2 {
    color: var(--color-secondary);
}
input#confirm2{
    color: var(--color-secondary);
}